body{
	background-image: url("https://i.pinimg.com/564x/cb/17/77/cb17770eccc62bb9a3d4e663c822d6ae.jpg");
	font-family: "Quicksand", cursive;
	text-align: center;
	color: #000000;
	font-size: 18px;
  line-height: 1.8;
}

.data{
	padding: 30px;
	background-color: #FFF8DC
}

h1,h4 {
	font-family: "Playfair Display", cursive;
}

.col-md-3{
  top: 30px;
  left: 30px;
}

.col-md-2{
  left: 10px;
}

.about{
  border-right: 2px solid #FFF8DC;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}

.container{
	background: #FFF5EE;
	width: 80%;
	height: 80%;
}

.footer{
	background: #e0cecc
}

a {
    background-color: #e0cecc;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.col-md-10{
	top: 35px;
	left: 30px;
}
.col-md-4{
  bottom: 200px;
}
.navigasi{
          background-image: url("http://www.zingerbug.com/Backgrounds/background_images/pastel_purple_bamboo_wallpaper_tileable.jpg");
          max-width: 100%;
          height: auto;
}

.parallax {
    /* The image used */
    background-image: url("https://raw.githubusercontent.com/SMAKBO/tugas-labkom-2018-ibraiii/master/img/header.jpg");

    /* Set a specific height */
    min-height: 450px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
}
.name{
  background-color: #FFF5EE;
}
.fa fa-instagram{
  font-size:20px
}

 .kursor{cursor: url(http://cur.cursors-4u.net/food/foo-1/foo65.cur), auto !important;}</style><a href="http://www.cursors-4u.com/cursor/2005/09/23/foo65.html" target="_blank" title="Vanilla Ice Cream"><img src="http://cur.cursors-4u.net/cursor.png" border="0" alt="Vanilla Ice Cream" style="position:absolute; top: 0px; right: 0px;" />}
