body	{
	background: #ffe6e6;
	font-family: "Quicksand", cursive;
	text-align: center; 
	color: #000000; 
	font-size: 20px; 
	padding: 90px;
}
p {font size: 220px;}

h1	{font-family: "Playfair Display", cursive;}