body {background: #F4E6D7;
	font-family: "Quicksand", cursive;
	text-align: center;
	color: #000000;
	font-size: 18px;
	line-height: 1.8;}

p	{padding: 30px;
	background-color: #FFF8DC;
	font-family: "Quicksand", cursive;
	text-align: justify;
	border-right: 6px solid burlywood;}




.container{background: #FFF5EE;
	width: 87%;
	height: 87%;}

.footer{background: #e0cecc}

a 	{background-color: #e0cecc;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;}

.col-md-9{top: 30px;}

.dropdown {position: relative;
    display: inline-block;
	float:left;}

.dropdown-content {display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;}

.dropdown:hover .dropdown-content {display: block;}

.desc {padding: 15px;
    text-align: center;}

.footer{background: #e0cecc}



