
 body {font-family: "Quicksand", cursive;}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;}

    p { text-indent: 50px;background-color: #F7CFFF;
    	font-family: "Quicksand", cursive;}

.satu{ background: #FFF5EE;
	font-family: "Quicksand", cursive}

.judul{ text-align: center;font-size: 4vw;
}
	
.gambar{
	width: 100px;
	height: 120px;
}
