
 body {font-family: "Quicksand", cursive;}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;}

    p { text-indent: 50px;background-color: #F7CFFF;
    	font-family: "Quicksand", cursive;}

.satu{ background: #FFF5EE;
	font-family: "Quicksand", cursive}

.judul{ text-align: center;font-size: 4vw;
}
	
.gambar{
	width: 100px;
	height: 120px;
}

.container{background: #FFF5EE;
	width: 87%;
	height: 87%;}

.footer{background: #e0cecc}

a 	{background-color: #e0cecc;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;}

.col-md-9{top: 30px;}

img{border-radius: 50%;}

.footer{background: #e0cecc}
