img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;}

    p { text-indent: 50px;background-color: pink;
    	font-family: "Quicksand", cursive;}
 body {font-family: "Quicksand", cursive;}

	