.body{
	background-color: lightblue
}

.page{
	color:black;
}
.gambar{width: 50px ;
	height: 50px;
}
.foto{width: 100px
height:100px;}

.container{background: #FFF5EE;
	width: 87%;
	height: 87%;}

.footer{background: #e0cecc}

a 	{background-color: #e0cecc;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;}

.col-md-9{top: 30px;}

img{border-radius: 50%;}

.footer{background: #e0cecc}

.about{
  border-right: 2px solid #FFF8DC;
}

.col-md-2{
  left: 10px;
}
